body{
				perspective: 1000px;
			}
			.lifang{
				width: 200px;
				height: 200px;
				margin: 200px auto;
				position: relative;
				/* 保留子元素3d效果*/
				transform-style: preserve-3d;
				transform: rotate3d(1,1,1,0deg);
				transition: all 1s cubic-bezier(0.71, 0.07, 0.33, 0.98);
			}
			.lifang:hover{
				transform: rotate3d(10,20,30,720deg);
			}
			.page{
				width: 200px;
				height: 200px;
				position: absolute;
				left: 0;
				top: 0;
				/* 透明度 */
				opacity: 0.7;
			}
			.front{
				background-image:  url(../img/img.png);
				background-size: 200px 200px;
				background-repeat: no-repeat;
				transform: translateZ(100px);
			}
			.back{
				background-image:  url(../img/img.png);
				background-size: 200px 200px;
				background-repeat: no-repeat;
				transform: rotateY(180deg) translateZ(100px);
			}
			.left{
				background-image:  url(../img/img.png);
				background-size: 200px 200px;
				background-repeat: no-repeat;
				transform: rotateY(-90deg) translateZ(100px);
			}
			.right{
				background-image:  url(../img/img.png);
				background-size: 200px 200px;
				background-repeat: no-repeat;
				transform: rotateY(90deg) translateZ(100px);
			}
			.top{
				background-image:  url(../img/img.png);
				background-size: 200px 200px;
				background-repeat: no-repeat;
				transform: rotateX(90deg) translateZ(100px);
			}
			.bottom{
				background-image:  url(../img/img.png);
				background-size: 200px 200px;
				background-repeat: no-repeat;
				transform: rotateX(-90deg) translateZ(100px);
			}